---
import Container from "./Container.astro"
import Nav from "../Nav.astro"
---
<header class="pointer-events-none relative z-50 flex flex-col">
    <div class="top-0 z-10 h-16 pt-6">
      <Container 
        className="top-0"
      >
      </Container>
    </div>
</header>