---
import PageLayout from '../../components/custom/PageLayout.astro';
import Container from '../../components/custom/Container.astro'
import PageTitle from '../../components/custom/PageTitle.astro'
import BlogCard from '../../components/custom/BlogCard.astro'
import NoteCard from '../../components/custom/NoteCard.astro'
---

<PageLayout>
  <Container outerClass="mt-16 sm:mt-32">
    <PageTitle
      title="Notes on software, building products, and other stuff."
      intro="All of my thoughts on programming, building products, leadership, travelling, whisky, and other random stuff. Not structured."
    />

    <div class="mt-16 ">
      <div class="flex flex-col gap-4">
		<div class="md:grid md:grid-cols-2">
        	<BlogCard />
			<BlogCard />
		</div>
      </div>
    </div>
  </Container>
</PageLayout>
