---

import BaseHead from "../components/custom/BaseHead.astro";
import Body from "../components/custom/Body.astro"

---

<!doctype html>
<html lang="en">
	<BaseHead />
	<body class=" flex h-full flex-col bg-bgLight dark:bg-bgDark text-txDark dark:text-txLight min-h-screen break-words leading-6 transition-colors duration-500">
		<div class="fixed inset-0 flex justify-center sm:px-8">
			<div class="flex w-full max-w-7xl lg:px-8">
			<div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20" />
		</div>
		</div>
		<slot />
	</body>
</html>